@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'MapleMonoCN'; /* 定义一个字体族名称 */
  src: url('/fonts/MapleMono-CN-ExtraLight.ttf') format('truetype');/* Light 字体 */
  font-weight: 300; /*  设置字体粗细为 300 (Light) */
  font-style: normal; /* 设置字体样式为正常 */
  font-display: swap; /* 优化字体加载体验 */
}

@font-face {
  font-family: 'MapleMonoCN'; /* 保持字体族名称一致 */
  src: url('/fonts/MapleMono-CN-Regular.ttf') format('truetype'); /* Regular 字体 */
  font-weight: 400; /* 设置字体粗细为 400 (Regular) */
  font-style: normal; /* 设置字体样式为正常 */
  font-display: swap; /* 优化字体加载体验 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --radius: 0.5rem;
  --page-max-width-fm: 1332px;
  --primary-fm: #ff4a00;
  --background-fm: #ececec;
  --foreground-fm: #222;
  --radius-md: 0.375rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html{
  font-size: 14px;
}

body *:focus,
body *:active,
body *:hover {
  outline: none;
}

body .fm{
  background-image: linear-gradient(to bottom right,#f8f8f8,var(--background-fm)20%);
  background-repeat: no-repeat;
  font-family: 'MapleMonoCN', sans-serif !important;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow: auto;

}

body, body .fm, .scrollbar-hide{
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}

body .fm::-webkit-scrollbar, body::-webkit-scrollbar, .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body .fm ::before, body .fm ::after{
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-width: 0;
  border-style: solid;
}


.Button_LED__yt_Oj {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 2px #0000001c,0 1px 0 0 #ffffff30;
  display: block;
  background-color: rgba(0,0,0,.1);
}

.dark .Button_LED__yt_Oj {
  background-color: rgba(255, 255, 255, 0.2);
}

[data-selected] .Button_LED__yt_Oj {
  background-color: var(--primary-fm);
}

.Button_Button__u2RFO {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  border-radius: var(--radius-md);
  box-shadow: inset 1px 1px 1px 0 rgb(255,255,255),inset -1px -1px 1px 0 rgba(0,0,0,.15),.444584px .444584px .628737px -1px rgba(0,0,0,.26),1.21072px 1.21072px 1.71222px -1.5px rgba(0,0,0,.247),2.6583px 2.6583px 3.75941px -2.25px rgba(0,0,0,.23),5.90083px 5.90083px 8.34503px -3px rgba(0,0,0,.192),10px 10px 21.2132px -3.75px rgba(0,0,0,.056),-.5px -.5px 0 0 rgb(0 0 0/5%);
  padding: 12px;
  cursor: pointer;
  position: relative;
  width: 100%;
  background: #f4f4f4;
  transition: box-shadow .3s ease;
  font-size: 14px;
  text-transform: none;
}

.dark .Button_Button__u2RFO {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.Button_Button__u2RFO[data-color="default"] {
  background-color: #f4f4f4;
  color: var(--foreground-fm);
}

.dark .Button_Button__u2RFO[data-color="default"] {
  background-color: hsl(var(--card));
  color: white;
}

.Button_Button__u2RFO[data-color="neutral"] {
  background-color: #b1b1b2;
  color: white;
}

.dark .Button_Button__u2RFO[data-color="neutral"] {
  background-color: #505050;
  color: white;
}

.Button_Button__u2RFO[data-color="primary"] {
  background-color: hsl(var(--primary));
  color: white;
}

.Button_Button__u2RFO[data-color="secondary"] {
  background-color: hsl(var(--secondary));
  color: white;
}

.Button_Button__u2RFO[data-color="tertiary"] {
  background-color: hsl(var(--tertiary));
  color: white;
}

.Button_Button__u2RFO[data-selected] {
  box-shadow: inset .5px .5px 1px #fff,inset -.5px -.5px 1px #00000026,.222px .222px .314px -.5px #0003,.605px .605px .856px -1px #0000002e,1.329px 1.329px 1.88px -1.5px #00000040,2.95px 2.95px 4.172px -2px #0000001a,2.5px 2.5px 3px -2.5px #00000026,-.5px -.5px 0 0 rgb(0 0 0/10%)
}

.Footer_Footer__ElFDz {
  position: fixed;
  bottom: 0;
  background-color: var(--background-fm);
}


